@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Rubik"; */
}

body {
  background-color: #0a0a0a;
  overflow-y: hidden;
}

/* h2{
  font-weight: 800;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: #121212;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f37e3c;
  border-radius: 1rem;
}
